<div class="page-header">
  <div class="clearfix">
    <div class="col-md-12">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <h1>Choose environments for comparison <br /></h1>
        <ul class="nav nav-pills">
          <li role="presentation" appActive><a href="#">EpicQE-PC1</a></li>
          <li role="presentation" appActive><a href="#">EpicQE-PC2</a></li>
          <li role="presentation" appActive><a href="#">EpicQE-PC3</a></li>
          <li role="presentation" appActive><a href="#">MARS</a></li>
          <li role="presentation" appActive><a href="#">EARTH</a></li>
          <li role="presentation" appActive><a href="#">PERFORMANCE</a></li>
          <li role="presentation" appActive><a href="#">SECURITY</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
